.text-gram {
  display: flex;
}

.left-pane {
  position: fixed;
  height: 100vh;
  padding-top: 20vh;
}

.logo {
  width: 4rem;
  margin: 2rem 0;
  color: #a80038;
}

.sidebar-links {
  text-decoration: none;
  color: black;
  padding: 1rem;
}

.sidebar-container {
  display: flex;
  padding: 0.5rem 0rem;
  width: 7rem;
  align-items: center;
}

.sidebar-container:hover {
  background-color: beige;
  padding: 0.5rem 0rem;
  border-bottom-left-radius: 9999px;
  border-bottom-right-radius: 9999px;
  border-top-left-radius: 9999px;
  border-top-right-radius: 9999px;
  transition: 0.2s;
}

.sidebar-icons {
  margin-right: 1rem;
}

.sidebar-text {
  font-size: large;
  font-weight: 400;
}

.post-heading {
  color: #a80038;
  position: fixed;
  font-size: 2rem;
  font-weight: bolder;
  text-align: center;
  top: 0;
  left: 25%;
  right: 25%;
  height: 50px;
  flex-direction: column;
  border-bottom: 1px solid #fd0054;
  border-top: none;
  backdrop-filter: blur(5px);
}

.posts {
  left: 25%;
  right: 25%;
  min-width: 25%;
  top: 50px;
  position: absolute;
}
