.text-gram {
  display: flex;
}

.left-pane {
  position: fixed;
  height: 100vh;
}

.logo {
  width: 4rem;
  margin: 2rem 0;
}

.sidebar-links {
  text-decoration: none;
}

.sidebar-container {
  display: flex;
  align-items: center;
  padding-right: 1rem;
}

.sidebar-icons {
  margin-right: 1rem;
  color: black;
}

.sidebar-text {
  font-size: large;
  font-weight: 400;
  color: black;
  text-transform: none;
}

.post-heading {
  color: #a80038;
  position: fixed;
  font-size: 2rem;
  font-weight: bolder;
  text-align: center;
  top: 0;
  left: 25%;
  right: 25%;
  height: 50px;
  flex-direction: column;
  border-bottom: 1px solid #fd0054;
  border-top: none;
  backdrop-filter: blur(5px);
}

.posts {
  left: 25%;
  right: 25%;
  /* min-width: 25%; */
  top: 51px;
  position: absolute;
}
